.design-page {
  .header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
  }
  .design {
    .design-left {
      .design-area {
      }
    }
    .design-right {
      .design-select {
      }
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}
