.user-page {
  display: flex;
  flex-direction: column;
  .header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  .ant-layout-content {
    padding: 120px 4vw 0 4vw;
    height: 100vh;
    min-height: 600px;

    .user {
      .user-content-area {
        
        /* Phần bên trái: user-content-left */
        .user-content-left {
          border: 1px solid #b7bf44;
          width: 100%;
          margin-bottom: 20px;
          margin-top: 10px;
          
          .user-infor {
            padding-bottom: 20px;

            .user-title {
              border: 1px solid rgb(248, 248, 174);
              font-family: "Signika", sans-serif;
              background-color: rgb(248, 248, 174);
              color: black;
              height: 10vh;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .user-info {
              padding-top: 20px;

              /* Các dòng thông tin người dùng */
              .account-name, .user-name, .user-phone, .user-male {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                
                & > p {
                  padding-left: 50px;
                }
              }

              /* Thêm margin riêng cho từng dòng */
              .account-name {
                gap: 50px;
              }
            }
          }
        }

        .user-content-right {
          border: 1px solid #b7bf44;
          margin-bottom: 20px;
          margin-top: 10px;
          
          .user-history-order {
            padding-bottom: 20px;
            margin: 0 auto;
            max-height: 100vh; 
            overflow-y: auto; 
          }

          .title-history-order {
            border: 1px solid rgb(248, 248, 174);
            font-family: "Signika", sans-serif;
            background-color: rgb(248, 248, 174);
            color: black;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .history-order {
            padding-top: 20px;
          }

          .ant-table-tbody {
            max-height: 100vh;
          }

          .ant-table-tbody > tr > td {
            max-width: 100px;
            white-space: nowrap; 
            overflow: hidden;   
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}
