.control_panel
    padding: 0 0px
    gap: 4px
    background-image: linear-gradient(to left, #1e5799 0%, #2989d8 44%, #7db9e8 100%)
    display: flex
    flex-direction: row
    align-items: center
    position: absolute
    top: 2vh
    z-index: 10
    height: 56px
    border-radius: 12px 12px 12px 12px
    left: 42vw